{% extends "layouts/base_dashboard.html" %}
{% block header %}
<div class="container">
    <h1>Manajemen {{ title }}</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalll">
        <i class="fa-solid fa-circle-info"></i>&nbsp;Lihat Petunjuk
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Petunjuk Pengelolaan Data {{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>          
          <div class="modal-body">
            Untuk pengelolaan {{ title }}, tombol berwarna kuning untuk menambah kategori baru, tombol berwarna hijau untuk mengubah data dan tombol berwarna merah untuk menghapus data.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock header %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <section class="section m-4">
                <!-- Button trigger modal -->
                <div class="container mb-3">
                    <button type="button" class="btn btn-warning btn-md" data-placement="top" title="Add" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                
                <!-- Add Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Kategori Berita</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                        
                                <div class="content-section">
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {{ form.hidden_tag() }}
                                        <fieldset class="form-group">
                                            <div class="form-group">
                                                {{ form.name.label(class="form-control-label") }}
                                                {% if form.name.errors %}
                                                {{ form.name(class="form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for error in form.name.errors %}
                                                    <span>{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                {{ form.name(class="form-control ") }}
                                                {% endif %}
                                            </div>
                        
                                        </fieldset>
                                        <div class="form-group">
                                            {{ form.submit(class="btn btn-primary") }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div> 

                <div class="container">
                    <table id="data" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Nama Kategori</th>
                                <th scope="col">Aksi</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for c in cat %}
                            <tr>
                                <th>{{ c.name }}</th>
                                <th>
                                    <div>
                                        <button type="button" class="btn btn-success btn-md mr-1" data-toggle="modal" data-target="#updateModal{{c.id}}" title="Edit">
                                            <i class="fa-solid fa-pencil"></i>
                                        </button>
                    
                                        <button type="button" class="btn btn-md btn-danger " data-toggle="modal" data-target="#deleteModal{{c.id}}" title="Delete">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </button>

                                        <!-- Delete Modal -->
                                        <div class="modal" id="deleteModal{{c.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Hapus Kategori Berita</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                                                </div>

                                                <div class="modal-body">
                                                    <p>Apakah yakin ingin menghapus {{ c.name }}?</p>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    
                                                    <form action="{{ url_for('news.cat_delete', category_id=c.id) }}" method="POST">
                                                        <input type="submit" class="btn btn-danger" value="Delete">
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                        <!-- Update Modal -->
                                        <div class="modal" id="updateModal{{c.id}}" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="updateModalLabel">Update Kategori?</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                                                    </div>
                
                                                    <div class="modal-body">
                                                        <form action="{{ url_for('news.cat_update', category_id=c.id) }}" method="POST">
                                                            {{ form.hidden_tag() }}

                                                            <div class="form-group">
                                                                <label>Nama Kategori:</label>
                                                                <input name="id" type="hidden" value="">
                                                                <input class="form-control" name="name" type="text" value="{{c.name}}">
                                                            </div>
                                                            <br>
                                                            <div class="form-group">
                                                                <button class="btn btn-primary" type="submit">Update</button>
                                                                </div>
                                                        </form>
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            
                            {% endfor %}
                            </tbody>
                    </table>
                </div>
            </section>
        </div>
      </div>
    </div>
</div>
{% endblock content%}

{% block scripts %}
<script type="text/javascript">

    var exampleModal = document.getElementById('exampleModal')
    var myInput = document.getElementById('myInput')

    exampleModal.addEventListener('shown.bs.modal', function () {
    myInput.focus()
    })
</script>

{% endblock scripts %}