{% extends "layouts/base_dashboard.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="card">
        <section class="section m-4">
          <!-- <p>{{ summary }} </p> -->
          <table id="data" class="table table-striped table-hover">
            <thead>
                <tr>
                  <th scope="col">Histori Percakapan</th>
                  <th scope="col">Tanggal Percakapan</th>
                  <!-- <th scope="col">Responses</th> -->
                </tr>
              </thead>
              <tbody>
              
              </tbody>
                
          </table>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock content%}

