<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-white">
  <div class="hidden sm:block px-16">
    <div class="flex justify-between">
      <img class="h-16 " src="/static/assets/img/logo.png" alt="IDAI logo" style="max-width:100%;">
      <p class="text-right pt-6 text-sm font-thin text-green-900">
        <i class="fa-solid fa-envelope"></i> &nbsp;idaikalbar@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-phone"></i> &nbsp;(056) 173-2-101&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa-solid fa-location-dot"></i> &nbsp;Jl. KHJ. Hasyim No. 249, Kec. Pontianak Kota
      </p>
    </div>
  </div>

  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button id="menu-button" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
          <!-- <img class="block lg:block h-8 w-auto" src="/static/assets/img/logo.jpg" alt="IDAI logo" style="max-width:100%;"> -->
          <img class="block lg:hidden h-8 w-auto" src="/static/assets/img/logo.jpg" alt="Workflow">
          <!-- <img class="hidden lg:block h-8 w-auto" src="/static/assets/img/logo.jpg" alt="Workflow"> -->
        </div>
        <div class="hidden sm:block sm:ml-6 header" id="">
          <div id="myDIV" class="flex space-x-4 divide-x">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->              
            <a href="{{ url_for('main.home') }}" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium">Beranda</a>
            <a href="{{ url_for('main.profile') }}" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium">Profil Organisasi</a>
            <a href="{{ url_for('main.new') }}" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium">Berita</a>
            <a href="{{ url_for('main.article') }}" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium">Artikel</a>
            <a href="{{ url_for('main.gallery') }}" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium">Galeri</a>
            <a href="{{ url_for('main.file') }}" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium">Berkas</a>
            <a href="https://a-jhr.com/a-jhr" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium" target="_blank">Jurnal</a>
            <a href="{{ url_for('main.stunting') }}" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium">Stunting</a>
            <a href="{{ url_for('main.contact') }}" class="navi-link text-green-900 hover:bg-green-900 hover:text-green-100 px-6 py-2 rounded-md text-sm font-medium">Kontak</a>
          </div>
        </div>
      </div>      
      
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('users.logout') }}" class="text-green-100 bg-green-900 hover:bg-gray-700 hover:text-white px-7 py-2 rounded-md text-sm font-medium">Logout</a>
        {% else %}
        <a href="{{ url_for('users.login') }}" class="text-green-100 bg-green-900 hover:bg-gray-700 hover:text-white px-7 py-2 rounded-md text-sm font-medium">Login</a>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="hidden" id="menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a href="{{ url_for('main.home') }}" class="navi-link text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Beranda</a>

      <a href="{{ url_for('main.profile') }}" class="navi-link text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Profil Organisasi</a>

      <a href="{{ url_for('main.new') }}" class="navi-link text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Berita</a>

      <a href="{{ url_for('main.article') }}" class="navi-link text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Artikel</a>
      <a href="{{ url_for('main.gallery') }}" class="navi-link text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Galeri</a>
      <a href="{{ url_for('main.file') }}" class="navi-link text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Berkas</a>
      <a href="{{ url_for('main.stunting') }}" class="navi-link text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Stunting</a>
      <a href="{{ url_for('main.contact') }}" class="navi-link text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Kontak</a>

    </div>
  </div>
</nav>




{% block scripts %}
<script>

    const button = document.querySelector('#menu-button');
    const menu = document.querySelector('#menu');

    button.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });

</script>

{% endblock scripts %}