<div class="sidebar close">
  <div class="logo-details">
    <i class="bi bi-building"></i>      
    <span class="logo-name">IDAI KALBAR</span>
  </div>
  <ul class="nav-links list-unstyled">
    
    <!-- dokter -->
    {% if roles == 'Dokter' %}
    <li>
      <a href="{{ url_for('users.dokter')}}">
        <i class='bx bx-grid-alt' ></i>
        <span class="link-name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link-name" href="{{ url_for('users.dokter')}}">Dashboard</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ url_for('doctors.tambah_data')}}">
        <i class='bx bx-file'></i>
        <span class="link-name">Berkas Pribadi</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link-name" href="{{ url_for('doctors.tambah_data')}}">Berkas Pribadi</a></li>
      </ul>
    </li>

    <li>
      <a href="{{ url_for('doctors.data_dokter')}}">
        <i class='bx bx-data'></i>
        <span class="link-name">Data Dokter</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link-name" href="{{ url_for('doctors.data_dokter')}}">Data Dokter</a></li>
      </ul>
    </li>
    <!-- admiin -->
    {% else %}
    <li>
      <a href="{{ url_for('users.admin')}}">
        <i class='bx bx-grid-alt' ></i>
        <span class="link-name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link-name" href="{{ url_for('users.admin')}}">Dashboard</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="{{ url_for('articles.article_admin')}}">
          <i class='bx bx-book' ></i>
          <span class="link-name">Artikel</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link-name" href="{{ url_for('articles.article_admin')}}">Artikel</a></li>
        <li><a href="{{ url_for('articles.new_category')}}">Kategori Artikel</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="{{ url_for('news.news_admin')}}">
          <i class='bx bx-news' ></i>
          <span class="link-name">Berita</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link-name" href="{{ url_for('news.news_admin')}}">Berita</a></li>
        <li><a href="{{ url_for('news.new_category')}}">Kategori Berita</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="{{ url_for('galleries.new_image')}}">
          <i class='bx bx-camera'></i>
          <span class="link-name">Galeri</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link-name" href="{{ url_for('galleries.new_image')}}">Galeri</a></li>
        <li><a href="{{ url_for('galleries.new_gallery')}}">Kategori Galeri</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ url_for('files.new_files')}}">
        <i class="bi bi-folder"></i>
        <span class="link-name">Berkas Umum</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link-name" href="{{ url_for('files.new_files')}}">Berkas Umum</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ url_for('files.data_dokter')}}">
        <i class='bx bx-data'></i>
        <span class="link-name">Data Dokter</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link-name" href="{{ url_for('files.data_dokter')}}">Data Dokter</a></li>
      </ul>
    </li>
    <li>
      <a href="{{ url_for('files.unans_chat')}}">
        <i class='bx bx-message-rounded-dots'></i>
        <span class="link-name">Chatbot</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link-name" href="{{ url_for('files.unans_chat')}}">Chatbot</a></li>
      </ul>
    </li>
    {% endif %}
    
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <img src="{{ url_for('static', filename='assets/img/profile_pics/default.jpg') }}" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile-name">Prem Shahi</div>
          <div class="job">Web Desginer</div>
        </div>
        <i class='bx bx-log-out' ></i>
      </div>
    </li> 
  </ul>
</div>


