{% extends "layouts/base.html" %}

{% block content %}

<div>
  <div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
    <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner relative w-full overflow-hidden">
     
      <div class="carousel-item active relative float-left w-full ">

        <div class="block w-full h-145 bg-fixed bg-center bg-cover bg-no-repeat" style=" background-image: url({{url_for('static', filename='assets/img/carousels/1.jpg' )}})">

        </div>

        
        <div class="carousel-caption hidden md:block absolute text-center bg-gray-900 bg-opacity-90 border-b-lime-900">
          <h5 class="text-xl font-bold">Selamat Datang Di Website IDAI Kalimantan Barat</h5>
          <p class="">Memasuki Era Digital dan globalisasi arus informasi maka kami berharap website IDAI Kalimantan Barat ini menjadi portal akses informasi terkait dunia kedokteran anak pada umumnya dan dunia kesehatan anak pada khususnya.</p>
        </div>
      </div>
      <div class="carousel-item relative float-left w-full">
        <div class="block w-full h-145 bg-fixed bg-center bg-cover bg-no-repeat" style=" background-image: url({{url_for('static', filename='assets/img/carousels/3.jpg' )}})">

        </div>

        <div class="carousel-caption hidden md:block absolute text-center bg-gray-900 bg-opacity-90 border-b-lime-900">
          <h5 class="text-xl font-bold">Berita Terkait Kegiatan IDAI Kalimantan Barat</h5>
          <p>Dalam website ini juga kami menyajikan serangkaian berita terkait kegiatan IDAI baik internal maupun antar lembaga yang bekerjasama dengan IDAI Kalimantan Barat</p>
        </div>
      </div>
      <div class="carousel-item relative float-left w-full">
        <div class="block w-full h-145 bg-fixed bg-center bg-cover bg-no-repeat" style=" background-image: url({{url_for('static', filename='assets/img/carousels/2.jpeg' )}})">

        </div>
       
        <div class="carousel-caption hidden md:block absolute text-center bg-gray-900 bg-opacity-90 border-b-lime-900">
          <h5 class="text-xl font-bold">Artikel Umum dan Ilmiah</h5>
          <p>Berbagai artikel umum mengenai kesehatan anak juga kami sajikan di dalam website ini, selain tentunya berbagai artikel atau jurnal ilmiah kedokteran anak yang dibutuhkan dalam pengembangan dan pelayanan kedokteran.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="w-full">
    <div class="relative items-center w-full px-8 pt-8 mx-auto md:px-12 lg:px-16 max-w-7xl">
      <h1 class="text-4xl font-bold leading-none text-center sm:text-5xl pt-8 text-emerald-900">Sambutan Ketua</h1>
      <div class="inline-flex justify-center items-center w-full">
        <hr class="my-8 w-64 h-1 bg-[#00B202] rounded border-0">
        <div class="absolute left-1/2 px-4 bg-white -translate-x-1/2 ">
            <svg aria-hidden="true" class="w-5 h-5 text-[#00B202]" viewBox="0 0 24 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z" fill="currentColor"/></svg>
        </div>
    </div>
      <section class="container mx-auto p-10 md:py-10 px-0 md:p-10 md:px-0">
        <section class="relative px-10 md:p-0 transform duration-500 hover:shadow-xl cursor-pointer hover:-translate-y-1 ">
            <img class="xl:max-w-3xl " src="{{url_for('static', filename='assets/img/ketua-idaikb.jpg' )}}" alt="Ketua IDAI KALBAR">
            <div class="content bg-white p-2 pt-4 md:p-12 pb-2 lg:max-w-2xl lg:absolute top-10 right-0">
                <div class="flex justify-between font-bold ">
                    <p class="text-md">Sambutan Ketua IDAI Kalimantan Barat</p>
                    <p class="text-sm text-gray-600">28 Desember, 2022</p>
                </div>
                <h2 class="text-2xl font-bold mt-2 md:mt-5">dr. Muchamad Budi Nugroho, M.Kes., Sp.A</h2>
                <p class="my-3 text-justify font-semibold text-gray-900 leading-relaxed">Salam Hormat,<br><br>
                  Selamat datang di situs resmi Ikatan Dokter Anak Indonesia Cabang Kalimantan Barat. Sebagai salah satu organisasi profesi yang semakin berkembang, besar harapan kami keberadaan website IDAI Kalimantan Barat ini akan memberikan kontribusi aktif seputar informasi kesehatan anak- anak termasuk informasi seputar seminar dan ...</p>
                <button class="mt-2 md:mt-5 p-3 px-5 bg-black text-white font-bold text-sm hover:bg-emerald-800"><a href="{{ url_for('main.kata_sambutan') }}">Lanjutkan Membaca</a></button>
            </div>
        </section>
      </section>
    </div>
  </section>

  <section class="w-full">
    <div class="relative items-center w-full px-2 pt-8 mx-auto md:px-12 lg:px-16 max-w-7xl">
      <h1 class="text-4xl font-bold leading-none text-center sm:text-5xl text-emerald-900">Artikel Terbaru</h1>
      <hr class="my-4 mx-auto w-48 h-1 bg-[#00B202] rounded border-0 md:my-10 ">
      <section class="container md:py-10 px-0 md:p-2 md:px-0">
        <div class="container mx-auto flex flex-wrap  ">

          <section class="md:w-2/3 flex flex-col items-center pr-3">      
              <article class="flex flex-col shadow-xl rounded-lg transform duration-500 hover:-translate-y-2 cursor-pointer group">
                  <a href="#" class="hover:opacity-75">
                      <img class="w-full h-full rounded-t-lg" src="{{url_for('static', filename='assets/img/articles/' + artikel_terbaru.image_article )}}">
                  </a>
                  <div class="flex flex-col justify-start p-6">
                      <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">{{artikel_terbaru.category.name}}</a>
                      <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{artikel_terbaru.title}}</a>
                      <p href="#" class="text-sm pb-3 text-gray-500">
                          By <a href="#" class="font-semibold hover:text-gray-800">{{artikel_terbaru.author.username}}</a>, Published on {{ artikel_terbaru.date_posted.strftime("%d %B, %Y") }}
                      </p>
                      <div class="prose max-w-none text-justify line-clamp-2 pb-6">
                        
                        {{ artikel_terbaru.content | safe }}
                      </div>
              
                      <button class="flex mx-auto mt-6 mb-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"> <a href="{{ url_for('main.article_detail', slug=artikel_terbaru.slug) }}">Lanjutkan Membaca <i class="fa-solid fa-arrow-right"></i></a></button>
                  </div>
                </article>      
          </section>
        
          <!-- Sidebar Section -->
          <aside class="w-full md:w-1/3 flex flex-col items-center pl-3">          

            <div class=" bg-[#269B36] p-8 flex flex-col md:ml-auto mb-5 mt-10 md:mt-0 shadow-xl transform duration-500 hover:-translate-y-2 cursor-pointer max-h-190 rounded-md">
              <form class="pb-4" method="POST">
                {{ form.hidden_tag() }}   
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                <div class="relative w-full">
                   
                    <input type="search" name="searched" id="searched" class="block w-full p-4 pl-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 " placeholder="Search Doctor by Name, Location..." required>
                    <button name="submit" type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                      <span class="sr-only">Search</span>
                  </button>
                    
                </div>
              </form> 

              <h1 class="font-extrabold text-3xl text-white">Tentang IDAI Kalimantan Barat</h1>
              <h2 class="font-bold mb-5 text-gray-800"></h2>
      
              <p class="text-sm leading-relaxed text-white">
                IDAI Cabang Kalimantan Barat merupakan organisasi profesi Dokter Spesialis Anak yang ada di Kalimantan Barat
              </p>
      
              <div class="pt-8">
                <a href="{{ url_for('main.kata_sambutan') }}" class="p-3  border-2 border-green-900 bg-green-800 rounded-md text-base hover:bg-green-900 hover:border-gray-200 cursor-pointer hover:text-white text-white">
                  Mengenal Kami
                </a>
              </div>
            </div>

          </aside>
        </div>
      </section>

      <section class="body-font">
        <div class="container pb-24 mx-auto ">
          <div class="flex flex-wrap -m-4 ">
            {% for a in artikel %}
            <div class="p-4 md:w-1/3 ">
              <div class="h-full border-2 border-gray-200 border-opacity-60 overflow-hidden shadow-xl rounded-lg transform duration-500 hover:-translate-y-2 cursor-pointer group">
                <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="{{url_for('static', filename='assets/img/articles/' + a.image_article )}}" alt="blog">
                <div class="p-6">
                  <h2 class="tracking-widest uppercase title-font text-blue-700 text-sm font-bold  mb-1">{{a.category.name}}</h2>
                  <h1 class="title-font text-lg font-bold text-gray-900 mb-3">{{a.title}}</h1>
                  <p href="#" class="text-sm pb-3 text-gray-500">
                    By <a href="#" class="font-semibold hover:text-gray-800 ">{{a.author.username}}</a>, Published on {{ a.date_posted.strftime("%d %B, %Y") }}
                  </p>
                  <div class="prose max-w-none text-justify line-clamp-2 pb-6 leading-relaxed mb-3">
                    {{ a.content | safe }}
                  </div>
                  <div class="flex items-center flex-wrap mt-12">
                    <a class="text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded bottom-4 absolute inline-flex items-center md:mb-2 lg:mb-0" href="{{ url_for('main.article_detail', slug=a.slug) }}">Lanjutkan Membaca
                      <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                      </svg>
                    </a>
                   
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} 

            
          </div>
        </div>
      </section>
    </div>
  </section>

  <section class="w-full">
    <div class="relative items-center w-full px-2 mx-auto md:px-8 lg:px-10 max-w-7xl ">
    <h1 class="text-4xl font-bold leading-none text-center sm:text-5xl text-emerald-900">Berita Terbaru</h1>
    <hr class="my-4 mx-auto w-48 h-1 bg-[#00B202] rounded border-0 md:my-10 ">
      <section class="container px-10 md:py-10 md:p-10 md:px-0">
          <section class="text-gray-600 body-font ">
            <div class="container mx-auto ">
              <div class="flex flex-wrap mx-5 -mb-10 text-center ">
                {% for b in berita_terbaru %}
                <div class="sm:w-1/2 mb-10 rounded-xl transform duration-500 hover:-translate-y-2 cursor-pointer shadow-xl">
                  <div class="rounded-lg h-64 overflow-hidden">
                    <img alt="content" class="object-cover object-center h-full w-full" src="{{url_for('static', filename='assets/img/news/' + b.image_news )}}">
                  </div>
                  <h2 class="tracking-widest text-left ml-7 uppercase title-font text-blue-700 text-sm font-bold mt-5">{{b.categoryn.name}}</h2>
                  <h1 class="title-font text-justify text-2xl font-bold text-gray-900 mt-6 mb-3 px-6">{{b.title}}</h1>
                  <p href="#" class="text-sm pb-3 text-gray-500 text-left ml-6">
                    By <a href="#" class="font-semibold hover:text-gray-800 ">{{b.author.username}}</a>, Published on {{ b.date_posted.strftime("%d %B, %Y") }}
                  </p>
                  <div class="text-justify line-clamp-3 mb-2 text-base px-6 ">
                    {{ b.content |safe }}
                  </div>
                  <button class="flex mx-auto mt-6 mb-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded"> <a href="{{ url_for('main.news_detail', slug=b.slug) }}">Lanjutkan Membaca <i class="fa-solid fa-arrow-right"></i></a></button>
                </div>
                {% endfor %}      
              </div>
          </section> 
        </div>
      </section>
    </div>
  </section>

  <section class="container mx-auto p-10 md:py-20 md:p-20 md:px-0 antialiased">
    <h1 class="text-4xl font-bold leading-none text-center sm:text-5xl text-emerald-900">Galeri</h1>
    <hr class="my-4 mx-auto w-48 h-1 bg-[#00B202] rounded border-0 md:my-10 ">
    <!-- <p class="max-w-2xl text-center text-gray-400">At a assumenda quas cum earum ut itaque commodi saepe rem aspernatur quam natus quis nihil quod, hic explicabo doloribus magnam neque, exercitationem eius sunt!</p> -->
    <section class="grid lg:grid-cols-3 2xl:grid-cols-3 grid-cols-1 gap-30 ">
      
      {% for g in gall %}
        <article class="mx-auto max-w-sm shadow-xl bg-cover bg-center min-h-70 transform duration-500 hover:-translate-y-2 cursor-pointer group" style="background-image: url( {{url_for('static', filename='assets/img/galleries/' + g.image_gallery ) }} )">
            <div class="bg-black bg-opacity-20 min-h-100 px-10 flex flex-wrap flex-col pt-96 hover:bg-opacity-75 transform duration-300">
                <h1 class="text-white text-3xl mb-5 transform translate-y-20 group-hover:translate-y-0 duration-300">
                    {{g.gallery.title}}
                </h1>
                <div class="w-16 h-2 bg-[#00B202] rounded-full mb-5 transform translate-y-20 group-hover:translate-y-0 duration-300">
                </div>
                <p class="opacity-0 text-white text-xl group-hover:opacity-80 transform duration-500 pb-6">
                    {{g.description}}
                </p>
            </div>
        </article>
        {% endfor %} 
    </section>

    <section class="py-6 bg-white text-gray-800">
      <div class="container flex flex-col items-center justify-center p-4 mx-auto space-y-8 sm:p-10">
        <h1 class="text-sm   font-bold leading-none text-center sm:text-5xl text-emerald-900">Pengurus IDAI Kalimantan Barat</h1>
        <hr class="my-4 mx-auto w-48 h-1 bg-[#00B202] rounded border-0 md:my-10 ">
        <div class="flex flex-row flex-wrap justify-center">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16  bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/ketua.jpg' )}}" title="dr. Muchamad Budi Nugroho, M.Kes., Sp.A">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16  bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/sekretaris.jpg' )}}" title="dr. I Nyoman Sudiatmika, Sp.A">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16  bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Rini Andriani, Sp.A">

          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Hilmi K Riskawa, M.Kes., Sp.A">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Rista Lestari, MSc., Sp.A">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Alexander Kurniadi, MSc., Sp.A">

          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/suriviana.jpg' )}}" title="dr. Suriviana, MSc, Sp.A">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Rosyadi Akbari, MSc., Sp.A">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Evelyn , Sp.A">

          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Yuta Inten, Sp.A">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Reggy Harapan Baringin, Sp.A">
          <img alt="" class="self-center flex-shrink-0 w-16 h-16 mb-4 bg-center bg-cover rounded-full hover:scale-125 bg-gray-500" src="{{url_for('static', filename='assets/img/profile_pics/default.jpg' )}}" title="dr. Desriani, Sp.A">

        </div>
      </div>
    </section>
    
</section>

</div>
    
{% endblock content%}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
  <!-- <script src="./TW-ELEMENTS-PATH/dist/js/index.min.js"></script> -->

{% endblock scripts %}