{% extends "layouts/base.html" %}

{% block content %}

<div class="flex flex-col items-center pt-8 pb-1">
    <div class="w-full md:w-1/2 p-6">
        <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
            <div class="flex flex-col px-5 py-1 bg-white">
                <div class="flex items-center">
                    <img class="w-20 h-20 rounded-full" src="{{ url_for('static', filename='assets/img/profile_pics/default.jpg') }}" alt="">
                    <div class="flex-row px-4">
                        <h4 class="font-bold text-lg text-gray-800">Prof. Dr. SoehartonoDS., SpOG-K</h4>
                        <span>Ketua Dewan Pertimbangan</span>
                        <p class="mt-1 flex-1 font-light text-sm text-slate-500">Pengurus IDI Wilayah Jawa Timur Periode Tahun 2019-2022</p>
                        <div class="social">
                            <a href=""><i class='bx bxl-twitter'></i></a>
                            <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                            <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                            <a href=""><i class='bx bxl-facebook-square' ></i></a>
                        </div>                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>
<div class="container mx-auto flex items-center flex-wrap pb-12">

    <div class="flex flex-wrap justify-between pt-4 -mx-6">

        
        <!--1/2 col -->
        <div class="w-full md:w-1/2 p-4">
            <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
                <div class="flex flex-col px-5 py-1 bg-white">
                    <div class="flex items-center">
                        <img class="w-20 h-20 rounded-full" src="{{ url_for('static', filename='assets/img/profile_pics/default.jpg') }}" alt="">
                        <div class="flex-row px-4">
                            <h4 class="font-bold text-lg text-gray-800">Prof. Dr. SoehartonoDS., SpOG-K</h4>
                            <span>Ketua Dewan Pertimbangan</span>
                            <p class="mt-1 flex-1 font-light text-sm text-slate-500">Pengurus IDI Wilayah Jawa Timur Periode Tahun 2019-2022</p>
                            <div class="social">
                                <a href=""><i class='bx bxl-twitter'></i></a>
                                <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                                <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                                <a href=""><i class='bx bxl-facebook-square' ></i></a>
                            </div>                    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

         <!--1/2 col -->
         <div class="w-full md:w-1/2 p-4">
            <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
                <div class="flex flex-col px-5 py-1 bg-white">
                    <div class="flex items-center">
                        <img class="w-20 h-20 rounded-full" src="{{ url_for('static', filename='assets/img/profile_pics/default.jpg') }}" alt="">
                        <div class="flex-row px-4">
                            <h4 class="font-bold text-lg text-gray-800">Prof. Dr. SoehartonoDS., SpOG-K</h4>
                            <span>Ketua Dewan Pertimbangan</span>
                            <p class="mt-1 flex-1 font-light text-sm text-slate-500">Pengurus IDI Wilayah Jawa Timur Periode Tahun 2019-2022</p>
                            <div class="social">
                                <a href=""><i class='bx bxl-twitter'></i></a>
                                <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                                <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                                <a href=""><i class='bx bxl-facebook-square' ></i></a>
                            </div>                    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

         <!--1/2 col -->
         <div class="w-full md:w-1/2 p-4">
            <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
                <div class="flex flex-col px-5 py-1 bg-white">
                    <div class="flex items-center">
                        <img class="w-20 h-20 rounded-full" src="{{ url_for('static', filename='assets/img/profile_pics/default.jpg') }}" alt="">
                        <div class="flex-row px-4">
                            <h4 class="font-bold text-lg text-gray-800">Prof. Dr. SoehartonoDS., SpOG-K</h4>
                            <span>Ketua Dewan Pertimbangan</span>
                            <p class="mt-1 flex-1 font-light text-sm text-slate-500">Pengurus IDI Wilayah Jawa Timur Periode Tahun 2019-2022</p>
                            <div class="social">
                                <a href=""><i class='bx bxl-twitter'></i></a>
                                <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                                <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                                <a href=""><i class='bx bxl-facebook-square' ></i></a>
                            </div>                    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
         <!--1/2 col -->
         <div class="w-full md:w-1/2 p-4">
            <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
                <div class="flex flex-col px-5 py-1 bg-white">
                    <div class="flex items-center">
                        <img class="w-20 h-20 rounded-full" src="{{ url_for('static', filename='assets/img/profile_pics/default.jpg') }}" alt="">
                        <div class="flex-row px-4">
                            <h4 class="font-bold text-lg text-gray-800">Prof. Dr. SoehartonoDS., SpOG-K</h4>
                            <span>Ketua Dewan Pertimbangan</span>
                            <p class="mt-1 flex-1 font-light text-sm text-slate-500">Pengurus IDI Wilayah Jawa Timur Periode Tahun 2019-2022</p>
                            <div class="social">
                                <a href=""><i class='bx bxl-twitter'></i></a>
                                <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                                <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                                <a href=""><i class='bx bxl-facebook-square' ></i></a>
                            </div>                    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

         <!--1/2 col -->
         <div class="w-full md:w-1/2 p-4">
            <div class="flex-1 rounded-t rounded-b-none overflow-hidden shadow-lg">
                <div class="flex flex-col px-5 py-1 bg-white">
                    <div class="flex items-center">
                        <img class="w-20 h-20 rounded-full" src="{{ url_for('static', filename='assets/img/profile_pics/default.jpg') }}" alt="">
                        <div class="flex-row px-4">
                            <h4 class="font-bold text-lg text-gray-800">Prof. Dr. SoehartonoDS., SpOG-K</h4>
                            <span>Ketua Dewan Pertimbangan</span>
                            <p class="mt-1 flex-1 font-light text-sm text-slate-500">Pengurus IDI Wilayah Jawa Timur Periode Tahun 2019-2022</p>
                            <div class="social">
                                <a href=""><i class='bx bxl-twitter'></i></a>
                                <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                                <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                                <a href=""><i class='bx bxl-facebook-square' ></i></a>
                            </div>                    
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content%}