{% extends "layouts/base.html" %}

{% block content %}
<div class="">
    <section class="pb-6  text-gray-900">
        <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
            <h1 class="text-4xl font-bold leading-none text-center sm:text-5xl">Hasil Pencarian Dokter</h1>
            <p class="p-2 text-sm font-medium tracking-wider text-center uppercase">Ikatan Dokter Anak Indonesia <br>Cabang Kalimantan Barat</p>
            
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg w-full pt-4">
                <form class="pb-4" method="POST">
                    {{ form.hidden_tag() }}   
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                    <div class="relative w-full">
                       
                        <input type="search" name="searched" id="searched" class="block w-full p-4 pl-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 " placeholder="Search Doctor by Name, Location..." required>
                        <button name="submit" type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                          <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                          <span class="sr-only">Search</span>
                      </button>
                    </div>
                  </form> 

                <table class="w-full text-sm text-left text-gray-700 ">
                    <thead class="text-xs text-green-900 uppercase bg-gray-50 ">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Nama Lengkap
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Kota Praktik
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Tempat Praktik
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Hari Praktik
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in dokters %}
                        <tr class="bg-white hover:bg-gray-200 ">                         
                            
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">
                                {{ d.nama_lengkap }}
                            </th>

                            <td class="py-4 px-6">
                                {% for dtp in data_tp %}
                                {% if dtp.user_id == d.user_id %}
                                    {{ dtp.kota_praktik }}<br>
                                {% endif %}
                                {% endfor %} 
                            </td>
                            
                            <td class="py-4 px-6">
                                {% for dtp in data_tp %}
                                {% if dtp.user_id == d.user_id %}
                                    {{ dtp.tempat_praktik }}<br>
                                {% endif %}
                                {% endfor %} 
                            </td>

                            <td class="py-4 px-6">
                                {% for dtp in data_tp %}
                                {% if dtp.user_id == d.user_id %}
                                    {{ dtp.hari_praktik }}<br>
                                {% endif %}
                                {% endfor %} 
                            </td>                  
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>  
        </div>
    </section>
  </div>     
{% endblock content%}
