{% extends "layouts/base.html" %}

{% block content %}
<div class="">
    <section class="pb-6  text-gray-900">
        <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
            <h1 class="text-4xl font-bold leading-none text-center sm:text-5xl">Hasil Pencarian Dokter</h1>
            <p class="p-2 text-sm font-medium tracking-wider text-center uppercase">Ikatan Dokter Anak Indonesia <br>Cabang Kalimantan Barat</p>
            
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg w-full pt-4">
                <form class="pb-4" method="POST">
                    {{ form.hidden_tag() }}   
                    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                    <div class="relative w-full">
                       
                        <input type="search" name="searched" id="searched" class="block w-full p-4 pl-5 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 " placeholder="Search Doctor by Name, Location..." required>
                        <button name="submit" type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                          <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                          <span class="sr-only">Search</span>
                      </button>
                        
                    </div>
                  </form> 
                <!-- <div class="pb-4 bg-white ">
                    <label for="table-search" class="sr-only">Search</label>
                    <div class="relative mt-1">
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                        </div>
                        <input type="text" id="table-search" class="block p-2 pl-10 w-80 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 " placeholder="Search for items">
                    </div>
                </div> -->
                <table class="w-full text-sm text-left text-gray-700 ">
                    <thead class="text-xs text-green-900 uppercase bg-gray-50 ">
                        <tr>
                            <th scope="col" class="py-3 px-6">
                                Nama Lengkap
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Kota Praktik
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Tempat Praktik
                            </th>
                            <th scope="col" class="py-3 px-6">
                                Hari Praktik
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in dokters %}
                        <tr class="bg-white hover:bg-gray-200 ">
                            
                            
                            <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">
                                {{ d.nama_lengkap }}
                            </th>
                            <td class="py-4 px-6">
                                {{ d.kota_praktik }}
                            </td>
                            <td class="py-4 px-6">
                                {{ d.tempat_praktik }}
                            </td>
                            <td class="py-4 px-6">
                                {{ d.hari_praktik }}
                            </td>
                            
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>

  
        </div>
    </section>
  </div> 

    
{% endblock content%}
