{% extends "layouts/base.html" %}

{% block content %}
<div class="">
  <section class="pb-6  text-gray-900">
      <div class="container flex flex-col items-center justify-center p-4 mx-auto sm:p-10">
          <h1 class="text-4xl font-bold leading-none text-center sm:text-5xl">Tentang Stunting</h1>
          <p class="p-2 text-sm font-medium tracking-wider text-center uppercase">Ikatan Dokter Anak Indonesia <br>Cabang Kalimantan Barat</p>
          
          <div class="container mx-auto items-center pb-12">
        
            <div class="shadow-lg rounded-lg overflow-hidden">
                <canvas class="p-10" id="chartLine"></canvas>
            </div>
          </div>

      </div>
  </section>
</div>    

<div class="chatbox">
    <div class="chatbox__support">
        <div class="chatbox__header">
            <div class="chatbox__image--header">
                <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
            </div>
            <div class="chatbox__content--header">
                <h4 class="chatbox__heading--header">Chatbot Stunting</h4>
                <p class="chatbox__description--header">Hai, Saya dapat Menjawab pertanyaan mengenai Stunting.</p>
            </div>
        </div>
        <div class="chatbox__messages">
            <div></div>
        </div>
        <div class="chatbox__footer">
            <input class="chat_user" type="text" placeholder="Write a message...">

            <button class="chatbox__send--footer send__button">Send</button>
        </div>
    </div>
    <div class="chatbox__button">
        <button><svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path></svg></button>
    </div>
</div>
            
{% endblock content%}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>

<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Chart line -->
<script>
  const labels = ["0 Bulan", "1 Bulan", "2 Bulan", "3 Bulan", "4 Bulan", "5 Bulan", "6 Bulan", "7 Bulan", "8 Bulan", "9 Bulan", "10 Bulan", "11 Bulan"];
  const data = {
    labels: labels,
    datasets: [
      {
        label: "Berat Badan Bayi Laki-Laki",
        backgroundColor: "hsl(252, 82.9%, 67.8%)",
        borderColor: "hsl(252, 82.9%, 67.8%)",
        data: [2.8, 3.4, 4.2, 4.8, 5.3, 5.8, 6.3, 6.8, 7.2, 7.6, 7.9, 8.1],
      },
      //{
        //label: "Berat Badan Bayi Laki-Laki",
        //backgroundColor: "hsl(252, 82.9%, 67.8%)",
        //borderColor: "hsl(252, 82.9%, 67.8%)",
        //data: [3.9, 4.7, 5.5, 6.4, 7.1, 7.8, 8.4, 9.0, 9.5, 9.9, 10.3, 10.6],
        //fill: 1
      //},
      {
        label: "Berat Badan Bayi Perempuan",
        backgroundColor: "HSL(320, 100%, 80%)",
        borderColor: "HSL(320, 100%, 80%)",
        data: [2.7, 3.3, 3.8, 4.4, 4.9, 5.3, 5.8, 6.2, 6.6, 6.9, 7.2, 7.5],
      },
    ],
  };

  const configLineChart = {
    type: "line",
    data: data,
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top',
        },
        title: {
          display: true,
          text: 'Chart.js Line Chart'
        }
      }
    },
  };

  var chartLine = new Chart(
    document.getElementById("chartLine"),
    configLineChart
  );
</script>

{% endblock scripts %}