{% extends "layouts/base_dashboard.html" %}

{% block content %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ image_file }}"><span class="font-weight-bold">{{ current_user.username }}</span><span class="text-black-50">{{ current_user.email }}</span><span> </span></div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-2">
                <div class="d-flex justify-content-between align-items-center mb-3 pt-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>

                <form action="" method="POST" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Information</legend>
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}
    
                            {% if form.username.errors %}
                            {{ form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control ") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.picture.label }}
                            <br>
                            {{ form.picture(class="form-control-file") }}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary profile-button") }}
                    </div>
                </form>
                
    </div>
</div>
</div>
</div>

    
{% endblock content%}