{% extends "layouts/base_dashboard.html" %}

{% block header %}
<div class="container">
    <h1> {{ title }}</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalll">
        <i class="fa-solid fa-circle-info"></i>&nbsp;Lihat Petunjuk
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Petunjuk Pengelolaan Data {{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>          
          <div class="modal-body">
            Isi semua data yang ada, kemudian klik simpan data atau reset data jika ingin mengubah seluruh data.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" id="multiple_select_form">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Data Pribadi</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">    
                    <label>{{form.nama.label}}</label>
                    {% if form.nama.errors %}
                        <input type="text" class="form-control is-invalid" id="nama" name="nama">
                        <div class="invalid-feedback">
                            {% for error in form.nama.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="text" class="form-control" id="nama" name="nama" value="{{ data.nama_lengkap }}">
                        {% endif %}
                    </div>

                    <div class="form-group">    
                        <label>{{form.no_hp.label}}</label>
                        {% if form.no_hp.errors %}
                        <input type="text" class="form-control is-invalid" id="no_hp" name="no_hp">
                        <div class="invalid-feedback">
                            {% for error in form.no_hp.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="text" class="form-control" id="no_hp" name="no_hp" value="{{ data.no_hp }}">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Informasi Tempat Praktik</h4>
                </div>
                <div class="card-body">

                    <div class="form-group">    
                    <label>{{form.tempat_praktik.label}}</label>
                    {% if form.tempat_praktik.errors %}
                        <input type="text" class="form-control is-invalid" id="tempat_praktik" name="tempat_praktik">
                        <div class="invalid-feedback">
                            {% for error in form.tempat_praktik.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="text" class="form-control" id="tempat_praktik" name="tempat_praktik" value="{{ data.tempat_praktik }}">
                        {% endif %}
                    </div>

                    <div class="form-group">    
                        <label>{{form.alamat_praktik.label}}</label>
                        {% if form.alamat_praktik.errors %}
                        <textarea class="form-control is-invalid" name="alamat_praktik" id="alamat_praktik" cols="30" rows="10">{{ data.alamat_praktik }}</textarea>
                        <div class="invalid-feedback">
                            {% for error in form.alamat_praktik.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <textarea class="form-control" name="alamat_praktik" id="alamat_praktik" cols="30" rows="10" value="{{ data.alamat_praktik }}">{{ data.alamat_praktik }}</textarea>
                        {% endif %}
                    </div>

                    <div class="form-group">
                            <label for="kota_praktik" class="">Hari Praktik</label>
                            <div class="multi_select_box">
                                <select id="days" class="form-control multi_select selectpicker" multiple="">
                                    <option value="Senin">Senin</option>
                                    <option value="Selasa">Selasa</option>
                                    <option value="Rabu">Rabu</option>
                                    <option value="Kamis">Kamis</option>
                                    <option value="Jumat">Jumat</option>
                                    <option value="Sabtu">Sabtu</option>
                                    <option value="Minggu">Minggu</option>
                                </select>
    
                                <input type="hidden" name="hidden_days" id="hidden_days" name="hari_praktik" value="{{ data.hari_praktik }}">
                            </div>
                    </div>

                    <div class="form-group">
                        <label>{{form.kota_praktik.label}}</label>
                        {% if form.kota_praktik.errors %}
                        <select class="form-control" name="kota_praktik" id="kota_praktik">
                            {% for choice in form.kota_praktik %}
                                {{choice}}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            {% for error in form.kota_praktik.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <select class="form-control" name="kota_praktik" id="kota_praktik">
                            {% for choice in form.kota_praktik %}
                                {{choice}}
                            {% endfor %}
                        </select>                         
                        {% endif %}
                    </div>


                    

                    <div class="form-group">    
                        <label>{{form.jam_mulai.label}}</label>
                        {% if form.jam_mulai.errors %}
                            <input type="time" class="form-control is-invalid" id="jam_mulai" name="jam_mulai">
                            <div class="invalid-feedback">
                                {% for error in form.jam_mulai.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <input type="time" class="form-control" id="jam_mulai" name="jam_mulai" value="{{ data.jam_mulai }}">
                        {% endif %}
                    </div>

                    <div class="form-group">    
                        <label>{{form.jam_selesai.label}}</label>
                        {% if form.jam_selesai.errors %}
                            <input type="time" class="form-control is-invalid" id="jam_selesai" name="jam_selesai">
                            <div class="invalid-feedback">
                                {% for error in form.jam_selesai.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            <input type="time" class="form-control" id="jam_selesai" name="jam_selesai" value="{{ data.jam_selesai }}">
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{form.batas_sip.label}}</label>
                        {% if form.batas_sip.errors %}
                        <input type="date" class="form-control" name="batas_sip">
                        <div class="invalid-feedback">
                            {% for error in form.batas_sip.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="date" class="form-control" name="batas_sip" value="{{ data.batas_sip }}">                                                        
                        {% endif %}
                    </div>

                    


                </div>
            </div>

        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>File Pendukung</h4>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <label>{{form.file_sip.label}}</label>
                        {% if form.file_sip.errors %}
                        <input type="file" class="form-control" name="file_sip">
                        <div class="invalid-feedback">
                            {% for error in form.file_sip.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="file" class="form-control" name="file_sip" value="{{ data.file_sip }}">                                                        
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label>{{form.file_ijazah.label}}</label>
                        {% if form.file_ijazah.errors %}
                        <input type="file" class="form-control" name="file_ijazah">
                        <div class="invalid-feedback">
                            {% for error in form.file_ijazah.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="file" class="form-control" name="file_ijazah" value="{{ data.file_ijazah }}">                                                        
                        {% endif %}
                    </div>
                </div>

                <div class="card-footer text-right">
                    {{ form.submit(class="btn btn-primary mr-1") }} 
                    <!-- <button class="btn btn-primary mr-1" type="submit">Submit</button> -->
                    <button class="btn btn-secondary" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('.multi_select').selectpicker();

        $('#days').change(function(){
            $('#hidden_days').val($('#days').val());
        });

        
    })
    
</script>

{% endblock scripts %}