{% extends "layouts/base_dashboard.html" %}

{% block header %}
<div class="container">
    <h1> {{ title }}</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalll">
        <i class="fa-solid fa-circle-info"></i>&nbsp;Lihat Petunjuk
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Petunjuk Pengelolaan Data {{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>          
          <div class="modal-body">
            Isi semua data yang ada, kemudian klik simpan data untuk menyimpan atau reset data jika ingin mengubah seluruh data.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data" id="multiple_select_form">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Data Pribadi</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">    
                    <label>{{form.nama.label}}</label>
                    {% if form.nama.errors %}
                        <input type="text" class="form-control is-invalid" id="nama" name="nama">
                        <div class="invalid-feedback">
                            {% for error in form.nama.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="text" class="form-control" id="nama" name="nama" value="{{ data.nama_lengkap }}">
                        {% endif %}
                    </div>

                    <div class="form-group">    
                        <label>{{form.no_hp.label}}</label>
                        {% if form.no_hp.errors %}
                        <input type="text" class="form-control is-invalid" id="no_hp" name="no_hp">
                        <div class="invalid-feedback">
                            {% for error in form.no_hp.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="text" class="form-control" id="no_hp" name="no_hp" value="{{ data.no_hp }}">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4>Informasi Lainnya</h4>
                </div>
                <div class="card-body">

                    <div class="form-group">
                        <label>{{form.batas_sip.label}}</label>
                        {% if form.batas_sip.errors %}
                        <input type="date" class="form-control" name="batas_sip">
                        <div class="invalid-feedback">
                            {% for error in form.batas_sip.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        <input type="date" class="form-control" name="batas_sip" value="{{ data.batas_sip }}">                                                        
                        {% endif %}
                    </div>

                    


                </div>
            </div>

        </div>

        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">

                <div class="card-footer text-right">
                    {{ form.submit(class="btn btn-primary mr-1") }} 
                    <!-- <button class="btn btn-primary mr-1" type="submit">Submit</button> -->
                    <button class="btn btn-secondary" type="reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('.multi_select').selectpicker();

        $('#days').change(function(){
            $('#hidden_days').val($('#days').val());
        });

        
    })
    
</script>

{% endblock scripts %}