{% extends "layouts/base_dashboard.html" %}

{% block header %}
<div class="container">
    <h1> {{ title }}</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#modalll">
        <i class="fa-solid fa-circle-info"></i>&nbsp;Lihat Petunjuk
    </button>

    <!-- Modal -->
    <div class="modal fade" id="modalll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Petunjuk Pengelolaan Data {{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>          
          <div class="modal-body">
            Data telah berhasil disimpan, jika ingin mengubah data klik tombol update data. dan jika ingin menghapus data klik tombol hapus data
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<section class="section">

    <div class="section-body">
      <!-- <h2 class="section-title">Forms Data Pribadi</h2> -->
      
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Data Pribadi</h4>
            </div>

            <div class="card-body">
                <div class="form-group">
                  <label>Nama Lengkap</label>
                  <input type="text" class="form-control" value="{{data.nama_lengkap}}" readonly>
                </div>

                <div class="form-group">
                    <label>No. Handphone</label>
                    <input type="text" class="form-control" value="{{data.no_hp}}" readonly>
                  </div>
            </div>            
          </div>

          <div class="card">
            <div class="card-header">
              <h4>Informasi Tambahan</h4>
            </div>

            <div class="card-body">
              <div class="form-group">
                <label>Tanggal Berakhir SIP</label>
                <input type="text" class="form-control" value="{{data.batas_sip.strftime('%d %b, %Y')}}" readonly>
              </div>
            </div>            
          </div>

        </div>

        <div class="col-12 col-md-6 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h4>Informasi Tempat Praktik</h4>
            </div>

            <div class="col-6">
              <a href="{{ url_for('doctors.tambah_tempatpraktik') }}" type="button" class="btn btn-warning btn-md" data-placement="top" title="Tambah Tempat Praktik"><i class="fa-solid fa-plus"></i></a>

            </div>

            <div class="card-body">
      
              <table id="data">
                <thead>
                  <tr>
                    <th scope="col">Tempat Praktik</th>
                    <th scope="col">Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  {% for tp in tempat_praktik %}
                  <tr>
                    <td>{{ tp.tempat_praktik }}</td>
                    <td>
                      <div>
                        <a href="{{ url_for('doctors.update_tp', id=tp.id) }}" type="button" class="btn btn-success btn-md mr-1" data-placement="top" title="Edit Tempat Praktik"><i class="fa-solid fa-pencil"></i></a>
    
                        <button type="button" class="btn btn-md btn-danger " data-toggle="modal" data-target="#deleteModal{{tp.id}}" title="Delete">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>

                        <!-- Delete Modal -->
                        <div class="modal" id="deleteModal{{tp.id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="deleteModalLabel">Hapus Tempat Praktik?</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                              </div>

                              <div class="modal-body">
                                  <p>Apakah yakin ingin menghapus {{ tp.tempat_praktik }}?</p>
                              </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  
                                  <form action="{{ url_for('doctors.tp_delete', id=tp.id) }}" method="POST">
                                      <input type="submit" class="btn btn-danger" value="Delete">
                                  </form>
                              </div>
                          </div>
                          </div>
                      </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>

            <div class="card">
                  <div class="card-footer text-right">
                    
                    <button class="btn btn-primary mr-1" type="button" title="Edit Data"><a class="text-decoration-none text-dark" href="{{ url_for('doctors.berkas_update', id=current_user.id)}}"><i class="fa-solid fa-pencil"></i> &nbsp;Update Data</a></button>

                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#deleteModal" title="Hapus Data"><a class="text-decoration-none text-dark" ><i class="fa-solid fa-trash-can"></i> &nbsp;Hapus Data</a></button>
                  </div>
            </div>

          <!-- Delete Modal -->
          <div class="modal" id="deleteModal" tabindex="1000" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Hapus Data Pribadi</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                  </div>

                  <div class="modal-body">
                      <p>Apakah yakin ingin menghapus seluruh data pribadi anda?</p>
                  </div>

                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      
                      <form action="{{ url_for('doctors.berkas_delete', id=current_user.id)}}" method="POST">
                          <input type="submit" class="btn btn-danger" value="Delete">
                      </form>
                  </div>
              </div>
              </div>
          </div>

          
        </div>
      </div>
    </div>
</section>

{% endblock content%}

{% block scripts %}
<script>
    $(document).ready(function(){
        $('.multi_select').selectpicker();

        $('#days').change(function(){
            $('#hidden_days').val($('#days').val());
        });

        
    })
    
</script>

{% endblock scripts %}